/*-----------------
    RESET
-----------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
}

li {
    list-style-type: none;
}

/*-----------------
    COMMONS
-----------------*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
    padding: 20px;
}

.container {
    margin: auto;
    max-width: 1200px;
    height: calc(100vh - 40px);
    background-color: pink;
    display: flex;
}

/*-----------------
    NAVIGATOR
-----------------*/
.navigator {
    width: 35%;
    background-color: aqua;
    border-right: 1px solid grey;
}

.notifications {
    height: 60px;
    background-color: azure;
    padding: 10px;
    display: flex;
    align-items: center;
}

.notifications .icon {
    width: 40px;
    height: 40px;
    background-color: aquamarine;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.search-bar {
    height: 40px;
    padding: 10px;
    text-align: center;
    background-color: bisque;
}
.chat-list {
    height: calc(100vh - 40px - 40px - 60px - 60px );
    overflow: auto;
}

.chat-list .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.contact-box {
    display: flex;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message-time {
    text-align: right;
    vertical-align: top;
}
/*-----------------
    CHAT
-----------------*/
.chat {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messages-box {
    width: 100%;
    height: calc(100vh - 40px - 40px - 60px);
    background-image: url(../img/mine.jpg);
    overflow: auto;
}

.write-message {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(127, 255, 136);
}

.sent-message {
    text-align: left;
}

.received-message {
    text-align: right;
}

/*--------------------------
    NAVIGATOR/CHAT COMMONS
---------------------------*/
.header {
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}

.user, .interlocutor {
    display: flex;
    align-items: center;
}

.user-avatar, .interlocutor-avatar {
    width: 40px;
    height: 40px;
    background-color: rgb(157, 130, 238);
    border-radius: 50%;
    margin-right: 10px;
}

.control-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}