<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ondapp</title>
        <!-- Fogli di stile -->
        <link rel="stylesheet" href="css/style.css">
        <!-- Fontawesome -->
        <script src="https://kit.fontawesome.com/d1d3e8df9b.js" crossorigin="anonymous"></script>
        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>

        <div id="app" class="container">

            <div class="navigator">
                <div class="header">
                    <div class="user">
                        <div class="user-avatar"></div>
                        <div class="name">placeholder</div>
                    </div>

                    <div class="control-buttons">
                        <button>
                            <i class="fa-solid fa-circle-notch"></i>
                        </button>
                        <button>
                            <i class="fa-solid fa-message"></i>
                        </button>
                        <button>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button>
                    </div>
                </div>

                <div class="notifications">
                    <div class="icon">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="notifications-text">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche</a>
                    </div>
                </div>

                <div class="search-bar">
                    <form class="search" action="">
                        <button type="submit"><i class="fa fa-search"></i></button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" name="search">
                      </form>
                </div>

                <div class="chat-list">
                    <ul>
                        <li v-for="(contact, index) in contacts" @click="changeConversation(index)">
                            <div class="contact-box">
                                <div class="avatar">
                                    <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                                </div>
                                <div class="contact-info">
                                    <div class="contact-name">{{contact.name}}</div>
                                    <div class="last-message">Ultimo messaggio inviato</div>
                                </div>
                            </div>
                            <div class="message-time">
                                12:00
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="chat">
                <div class="header">
                    <div class="interlocutor">
                        <div class="interlocutor-avatar">
                            <img :src="'img/avatar' + contacts[currentIndex].avatar + '.jpg'" alt="">
                        </div>
                        <div class="interlocutor-info">
                            <div class="name">{{contacts[currentIndex].name}}</div>
                            <div class="last-access">Ultimo accesso alle</div>
                        </div>
                    </div>

                    <div class="control-buttons">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <button>
                            <i class="fa-solid fa-paperclip"></i>
                        </button>
                        <button>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button>
                    </div>
                </div>

                <div class="messages-box">
                    <div v-for="(message, index) in contacts[currentIndex].messages" :class="`${message.status}-message`">
                        <div class="message-text">{{message.message}}</div>
                        <div class="message-time"></div>
                    </div>
                </div>

                <div class="write-message">
                    <button>
                        <i class="fa-solid fa-face-smile"></i>
                    </button>
                    <form @submit.prevent="sendMessage()">
                        <input type="text" placeholder="Scrivi un messaggio" v-model="newMessageInput">
                    </form>
                    <button>
                        <i class="fa-solid fa-microphone"></i>
                    </button>
                </div>

            </div>
            
        </div>

        <script src="js/contacts.js"></script>
    </body>
</html>